body {
    margin: 0;
    background-color: rgba(223, 223, 223, 0.766);
    padding-top: 4%;
}

.container {
    background-color: white;
    height: 50%;
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 40px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 40px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 40px -19px rgba(0, 0, 0, 0.75);
    padding-bottom: 3%;
}

.submitbutton {
    font-family: 'Roboto Slab', serif;
    padding: 1% 1%;
    font-size: 100%;
    border-radius: 5%;
    background-color: #000000;
    color: white;
    padding-left: 3.25%;
    padding-right: 3.25%;
}

.submitbutton:hover {
    cursor: pointer;
    background-color: #1c1c1c;
}

.Title {
    font-family: 'Roboto Slab', serif;
    text-align: left;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}

.questions {
    text-align: left;
    font-family: 'Roboto Slab', serif;
    padding-right: 5%;
    padding-left: 5%;
}

.info {
    color: rgb(109, 109, 109);
    font-weight: 400;
}

#details {
    position: inherit;
    width: 50%;
    resize: none;
    border: none;
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px solid black;
    outline: #000000;
}

.types {
    vertical-align: middle;
}

.Labels {
    color: rgb(23, 23, 23);
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #details {
        line-height: 155%;
        padding-bottom: 5%;
    }
}